{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">
      UniPlanner Admin
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#adminNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_student') }}">
            Add Student
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_subject') }}">
            Add Subject
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('assign_subjects') }}">
            Assign Subjects
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mark_attendance') }}">
            Mark Attendance
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin_students') }}">
            View Students
          </a>
        </li>

      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-danger" href="{{ url_for('admin_logout') }}">
            Logout
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">
  {% block admin_content %}{% endblock %}
</div>

{% endblock %}
