{% extends "admin_base.html" %}

{% block admin_content %}
<h4>Students</h4>

<table class="table table-bordered bg-white">
  <thead>
    <tr>
      <th>Reg No</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ s.reg_no }}</td>
      <td>{{ s.name }}</td>
      <td>
        <a href="{{ url_for('view_student_attendance', student_id=s.id) }}"
           class="btn btn-sm btn-primary">
          View Attendance
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}